/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, hình vuông,...)
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
}

#main {
    
}

#header {
    height: 50px;
    background-color: #000;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-icon {
    color: #fff;
    font-size: 24px;
    line-height: 50px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: rgb(196, 8, 8)
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;    
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: block;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
}

#nav .nav-arrow-down {
    font-size: 10px;
}

#slider {
    position: relative;
    margin-top: 50px;
    padding-top: 50%;
    background: url('../img/slider/One-Direction-1.jpg') no-repeat top center / cover;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%) */
    width: 100%;
}

#slider .text-heading {
    font-size: 30px;
    margin-bottom: 24px;
}

#slider .text-description {
    font-size: 18px;
}

#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    color: rgb(139, 139, 139);
}

#content .about-text {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#footer {

}
